<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/responsive.css"/>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<!-- header section starts -->
<div class="fixed-top">
    <header class="header_section">
        <div th:replace="~{fragments/navbar}"></div>
    </header>
</div>
<!-- end header section -->

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <section class="book_section layout_padding">
            <div class="container">
                <div class="heading_container">
                    <h2>
                        Add Recipe form
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form_container">
                            <form th:action="@{/recipe/add/{id}}"
                                  th:method="post"
                                  th:object="${recipeAddDto}">
                                <div>
                                    <p th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}"
                                       class="errors alert alert-danger"></p>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Ingredients"
                                           id="ingredients" name="ingredients"
                                           th:field="*{ingredients}"/>

                                </div>
                                <div>
                                    <p th:if="${#fields.hasErrors('methodOfPreparation')}" th:errors="*{methodOfPreparation}"
                                       class="errors alert alert-danger"></p>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="methodOfPreparation"
                                           id="methodOfPreparation" name="methodOfPreparation"
                                           th:field="*{methodOfPreparation}"/>
                                </div>

                                <div class="btn_box">
                                    <button>
                                        Add Recipe
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<!-- footer section -->
<footer class="footer_section">
    <div th:replace="~{fragments/footer}"></div>
</footer>
<!-- end footer section -->

</body>

</html>