<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>

<!-- header section starts -->
<div class="fixed-top">
    <header class="header_section">
        <div th:replace="~{fragments/navbar}"></div>
    </header>
</div>
<!-- end header section -->

<!-- about section -->
<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="/images/r1/Restaurant_1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Welcome to our Restaurant_1
                        </h2>
                    </div>
                    <p>
                        Learn all about our Burger restaurant in Blagoevgrad:
                        Occupying a prime spot at 13 Street , opposite the main car park, it opened in September 2012.

                        Treat yourself to the best home-made Burgers in Liège!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->

<!-- footer section -->
<footer class="footer_section">
    <div th:replace="~{fragments/footer}"></div>
</footer>
<!-- end footer section -->

</body>

</html>