<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/responsive.css"/>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="fixed-top">
    <header class="header_section">
        <div th:replace="~{fragments/navbar}"></div>
    </header>
</div>

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <section class="book_section layout_padding">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="allUsers : ${allUsers}" >

                        <td th:text="|*{allUsers.userName}|"></td>
                        <td th:text="|*{allUsers.email}|"></td>

                        <td>
                            <div th:each="role,interStat : ${allUsers.roles}"
                                 th:text="${role.getUserRoles()} + ${!interStat.last ? ', ' : ''}">
                            </div>
                        </td>

                        <td>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                <a class="btn btn-danger" th:href="@{/user/addRole/{id}(id=*{allUsers.id})}">AddAdmin</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</section>

<footer class="footer_section">
    <div th:replace="~{fragments/footer}"></div>
</footer>
<!-- end footer section -->

</body>
</html>